:root {
	--background: #060606;
	--red: #e52e4d;
	--blue: #5429cc;
	--blue-light: #6933ff;
	--text-body: #e8e8e8;
	--green: #33cc95;
	--shape: #ffffff;
}
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	@media (max-width: 1000px) {
		font-size: 93.75%;
	}
	@media (max-width: 728px) {
		font-size: 87.5%;
	}
}
body {
	color: var(--text-body);
	background: var(--background);
	-webkit-font-smoothin: antialiased;
}
body,
input,
text-area,
button {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}
h2,
h2,
h3,
h4,
h5,
h6,
strong {
	font-weight: 600;
}
button {
	cursor: pointer;
}
[disabled] {
	opacity: 0.6;
	cursor: not-allowed;
}
input {
	color: var(--text-body);
}
